* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
}
.nav-btns ul {
  display: flex;
  list-style-type: none;
}
.nav-btns ul li {
  position: relative;
  margin: 0 15px;
}

.dropdown-menu {
  position: absolute;
  display: none;
  flex-direction: column;
}
.nav-btns ul li:hover .dropdown-menu {
  display: flex;
}
